name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}


      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Format
        run: cargo fmt -- --check

      - name: Lint
        run: cargo clippy --all-targets --all-features -- -D warnings -A unused

      - name: Test
        run: cargo test --verbose
